
 body {
   overflow: hidden !important;
 }

.content-wrapper>.content {
  padding: 0px 0px !important;
} 

#body_ui-proxyMap-map {
  
  height: calc(100vh - 57px) !important; 
  width: calc(100vw - 73.594px) !important;
}

.airdatepicker {
  background-color: #1f1f21;
  border-color: #1f1f21;
  color: #007bff;
}

.airdatepicker--pointer {
  background-color: #1f1f21;
  border-color: #1f1f21;
}

.wrapper {
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar {
  margin-top: 15px;
}


#panelTransits { 
  margin-top: 15px;
  position: absolute;
  z-index: 1;
  opacity: 0.92;
  width: 320px; 
}


#panelDrivers {
  margin-top: 15px;
  position: absolute;
  z-index: 1;
  opacity: 0.92;
  width: 400px; 
}

#panelReports {
  margin-top: 90px;
  position: absolute;
  z-index: 1;
  opacity: 0.92;
  width: 390px; 
}


#body_ui-proxyMap-coordPanel {

  left: 20px;
  top: calc(100vh - 107px) !important;
  z-index: 1;
  text-align: center;  
}

#body_ui-proxyMap-coordPanel .bttn-unite {
  font-size: 18px;
}


#header_ui-btnBurger, #header_ui-btnBurger:hover {
  font-size: medium;
  background-color: transparent;
  border-color: transparent;
  margin-left: 8px;
  margin-top: 10px;
  width: 57.58px;
}

#header_ui-btnBurger:focus {
  outline: 0;
}


#logo {
  margin-left: 10px;
}


#body_ui-proxyMap-analysis-analysisPanel {
  margin-top: 7px;
  z-index: 1;
  text-align: center;
  width: calc(100vw - 50px);
}


#body_ui-proxyMap-optionsBtns-optionsPanel {
  width: 50px;
  display: block;
  right: 20px;
  top: 75px;
  z-index: 1;
  text-align: center;
  
}

#body_ui-proxyMap-analysis-analysisPanel .bttn-material-circle, #body_ui-proxyMap-optionsBtns-optionsPanel .bttn-material-circle {
  padding: 0;
  text-align: center;
  margin: 3px;
  background-color: #343a40;
  color: #ced4da;
}


#body_ui-proxyMap-analysis-analysisPanel .bttn-material-circle:hover, #body_ui-proxyMap-optionsBtns-optionsPanel .bttn-material-circle:hover {
  background-color: #0074D9;
  color: #fff;

}

#body_ui-proxyMap-analysis-analysisPanel .bttn-material-circle {
  animation-name: fadeInOut;
  animation-duration: 0.7s;
} 


#body_ui-proxyMap-analysis-controlbar {
  top: calc(100vh * 0.45) !important; 
  opacity: 0.92;
  border-radius: 5px 0 0 5px;
}


#body_ui-proxyMap-optionsBtns-optionsPanel > .bttn-material-circle:hover {
  background-color: #8b27a8;
}


#body_ui-proxyMap-btnCoord1, #body_ui-proxyMap-btnCoord2, #body_ui-proxyMap-btnCoord3 {
  background-color: #fff;
  color: #007bff;
  border-radius: 25px;
  border: 1px solid #007bff;
  opacity: 1;
  
}

#body_ui-proxyMap-btnCoord1:hover, #body_ui-proxyMap-btnCoord2:hover, #body_ui-proxyMap-btnCoord3:hover {
  background-color: #007bff;
  color: #fff;
}


#datepicker_button {
  padding-left: 0;
  padding-right: 0;
  color: #007bff;
  font-size: large;
  height: 38px;
}


#datepicker_button:hover {
  color: #0074D9;
}


#datepicker{
  border-radius: 5px;
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
} 


.nav .nav-treeview, 
.nav .nav-treeview .form-group {
  width: 235px;
}

.nav .nav-treeview .input-group {
  width: 225px;
}

.nav .nav-treeview label {
  font-weight: 100;
  letter-spacing: 0.8px;
  margin-left: 23px;
}

.sidebar-custom {
  padding: .55rem .5rem !important;
}

.nav-sidebar .nav-item .fa {
  text-align: center;
  width: 57.59px;
  padding: 12px 0;
}

.nav-sidebar .nav-item .fa-arrow-circle-right {
  padding: 0;
  width: 45px;
}


li.nav-item.dropdown {
  font-size: 18px;
}


.nav-pills .nav-link {
  padding: 8px 0px;
  padding: 0;
  height: 40px;
  font-size: 18px;
} 

.mapboxgl-ctrl-logo {
  display: none !important;
}


.leaflet-tooltip-right:before {
  border-right-color: #343a40 !important;
}

.leaflet-tooltip-left:before {
  border-left-color: #343a40 !important;
}


.search-input {
  color: #343a40 !important;
  font-size: 13px !important;
  border: none !important;
  padding: 0 0 0 5px !important;
  margin: 5px 0 5px 0 !important;

}

.search-input:focus {
  outline: none !important;

}

.search-input:focus::placeholder {
  color: transparent !important;

}

.search-cancel {
  right: 0 !important;
  top: 1px !important;

}


.leaflet-draw.leaflet-control {
  visibility: hidden;
  position: absolute;

}  


.leaflet-draw-tooltip {
  display: none;
}


.leaflet-top.leaflet-left {
  right: 75px !important;
  left: unset !important;
  top: 16px;
}

.leaflet-control-search .search-tip {
  color: #007bff !important;
  padding: 3px 0 3px 5px !important;
  margin: 1px 0 1px 0 !important;
  font-size: 13px !important;
  white-space: normal !important;
  
}

.leaflet-control-search .search-tooltip {
  max-height: 290px !important;
}

.leaflet-control-layers {
  right: 60px;
  top: 55px; 
  background-color: #454d55;
  opacity: 0.95;
  color: white;
  box-shadow: 0 1px 7px rgb(0 0 0 / 65%) !important;
  border: none !important;
}


#body_ui-proxyMap-boxTable-tableTransits {
  overflow-x: hidden;
}

#body_ui-proxyMap-boxTable-tableDrivers {
  overflow-x: hidden;
}

#body_ui-proxyMap-boxTable-tableTransits .rt-thead {
  display: none !important;
}


#body_ui-proxyMap-boxTable-tableDrivers .rt-thead {
  display: none !important;
}


#body_ui-proxyMap-boxTable-tableTransits .rt-search, #body_ui-proxyMap-boxTable-tableDrivers .rt-search {
  align-self: start;
  transition: border-color 0.5s;
}

#body_ui-dashboard-tableAllData .rt-search {
    margin-top: 10px;
    margin-right: 10px;
}

#body_ui-dashboard-tableAllData {
  height: calc(100vh * 0.45) !important;
}


#body_ui-dashboard-tableAllData .ReactTable {
  border-radius: 5px;;
}

.rt-search:focus {
  border-color: #0074D9;
  transition: border-color 0.5s;
}

.rt-search:focus::-webkit-input-placeholder {
  color: transparent;
}


.rt-td.rt-align-left {
    cursor: pointer !important;
}


#body_ui-proxyMap-boxTable-tableTransits .rt-tr-group > .rt-tr-group .rt-td-select.rt-align-left {
  display: none !important;
}


#body_ui-proxyMap-boxTable-tableDrivers .rt-tr-group > .rt-tr-group .rt-td-select.rt-align-left {
  display: none !important;
}


#body_ui-proxyMap-analysis-tableStats .rt-align-center.rt-th:first-child{
  padding-top: 12px;
}


#body_ui-proxyMap-analysis-tableStats {
  display: flex;
  justify-content: center;
}

.delivery {
  border: 1px solid #20B2AA;
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
  color: #20B2AA;
  font-weight: 400;
  font-size: 13px;
  margin-right: 25px;
}

.pickup {
  border: 1px solid #DC143C;
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
  color: #DC143C;
  font-weight: 400;
  font-size: 13px;
  margin-right: 25px;
}


input[type="checkbox"] {
  border: none;
  background-color: black;
}


.makeViolet {
  background-color: #75238c !important;
  color: #fff !important;
}

.makeBlue {
  background-color: #1161b8 !important;
  color: #fff !important;
  border-color: #1161b8 !important;
}


#sidebar_ui-refresh {
  background-color: transparent !important;
  border: none;
  box-shadow: none !important;  
  color: #22b573;
  padding: 0;
  width: 30px;
  height: 30px;
  margin: 6px 0 12px 13px;
}

#sidebar_ui-refresh:hover {
  color: #0fd485 !important;
}


#sidebar_ui-refresh :active {
  color: #22b573 !important;
}


#chart2, #chart3 {
  height: calc(100vh * 0.45);
  margin-top: 10px;
}


#performanceDivisions {
  margin-top: 10px;
}


#body_ui-proxyMap-boxTable-downloadExcel {
  background-color: #128a54;
  height: 50px;
  color: white;
  padding-top: 12px;
  width: 200px;
  border: 1px solid #0c633c;
  margin-left: 75px;
  margin-top: 12px;
}

#body_ui-proxyMap-boxTable-downloadExcel:hover {
  background-color: #0c633c;
  border: 1px solid #0c633c;
}

.ReactTable .rt-table {
  overflow-x: hidden;
  border-radius: 5px;
}

#shiny-notification-toast {
  width: 240px;
  color: white;
  background-color: #41bf8d;
  border: 1px solid #3aa67b;
  text-align: center;
  letter-spacing: 1px;
}

.btn-tool {
  padding-top: 0;
}


::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #343a40; 
  opacity: 0.9;
}
 

::-webkit-scrollbar-thumb {
  background: #797a80; 
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: #9d9fa6;
  border-radius: 10px;
}


